.close-button {
  position: absolute;
  top: -40px;
  right: -40px;
  
  width: 32px;
  height: 32px;
  padding: 0;
  background-color: #000;
  border: none;
  background: url(../../images/close_icon.svg);
  background-repeat: no-repeat;
  background-size: cover;

  transition: ease-out 0.2s;
}

.close-button:hover {
  opacity: .6;
  
  cursor: pointer;
}

@media screen and (max-width: 566px) {
  .close-button {
    top: -36px;
    right: 0;
    
    width: 20px;
    height: 20px;
  }
}