.header {
  position: relative;
  
  padding: 45px 0 41px 0;
}

.header::after {
  position: absolute;
  top: 100%;

  display: block;
  height: 1px;
  width: 100%;
  background-color: #545454;
  opacity: .7;

  content: ' ';
}

@media screen and (max-width: 489px) {
  .header {
    padding: 28px 0 31.6px 0;
  } 
}